/*csuszos görgetés a linkekhez*/
html{
    scroll-behavior: smooth;
    background-color: rgb(87, 87, 87);
    margin: 0;
    padding: 0;
}
.topbar{
    display:flex;
    overflow-x: hidden;
    top:0;
    width:100%;
    background-color: rgb(17, 16, 16);
    margin: 0;
    z-index: 1;
}
.topbar a.left{
    display:block;
    float: left;
    text-decoration: none;
    width: 25%;
    text-align:left;
    border-left: 1px;
    font-size:x-large;
    font-family:'Times New Roman';

    
}
.topbar img.right{
    float: left;
    text-decoration: none;
    width: 25%;
    height: 15px;
    text-align:right;
    display:block;
    
}
.topbar p{
    display: block;
    text-align: center;
    float:left;
    width:50%;
    margin:0;
    font-size:x-large;
    padding: 0;
    color: aliceblue;
    font-family: 'Times New Roman';
    font-weight: bolder;
}
/*maga a baloldalon lévő sidenav bar*/
.sidenav{
    margin-top:40px;
    margin-left: 10px;
    width: 10%;
    z-index: 1;
    top: 0;
    left:0;
    overflow-x: hidden;
    padding-top: 0px;
    position: fixed;
    display: block;
    border-radius: 12px;
    background-color:transparent;
}
/*a sidenavben lévö linknek a formázása*/
.sidenav a{ 
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    text-align: center;
    display: block;
    border-style: solid;
    border-width: 0px;
    border-radius: 12px;
    margin-top: 10px;
    background-image: linear-gradient(90deg, #2bbbb9cb 0%, #6ab9c7 100%);
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.sidenav p{
    padding: 10px 20px 10px 10px;
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 0;
    background-color: honeydew;
}
/*Ha rá mutat a linkre akkor megváltozik a link szine*/
.sidenav a:hover{
    color: rgb(199, 196, 202);;
}
/*csak hogy a bodynak ne legyen marginja és paddingje se*/
body{
    margin: 0;
    padding: 0;
    background-color: rgb(51, 49, 49);
}
/*Ez kell a divbe hogy elkülönitsem a sidenav bartól*/
.main{
    margin-left: 240px;
    font-size: 22px;
    font-family:'Times New Roman';
    margin-right:10px;
    margin-top: 10px;
    border-style:solid;
    border-radius:20px;
    background-color: rgb(255, 255, 255);
    border-width: 0.1px;
    margin-bottom:10px;
    width: 80%;
    display: block;
}
.main p{
    margin:20px;
    font-size:30px;
    width: 100%;
    
}
.main img{
    width: 20%;
    height: 20%;
    float: right;
    margin: 100px;
    margin-bottom:0px;
    border-radius: 10px;
}
header{
font-size: 40px;
text-align: center;
margin-top: 20px;
color: white;
font-weight: bold;
margin-bottom:10px;
border-style: none;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(64, 65, 120, 0.3);
margin-left: 40px;
margin-right: 40px;
background-color: rgb(97, 164, 227);
display: block;
}
.main p{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;    
  background-color: rgb(17, 16, 16);
  color: white;
  text-align: center;
  margin: 0;
  padding:0;
}
.footer p{
    padding: 6;
    margin:0;
    margin-bottom:4;
}
.tdkpl{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-bottom:30px;
}
